body
{
	font-size: 25px;
	color: #000000;
	font-family: "HYZhuZiTongNianTiW Regular", "Microsoft Yahei", "STHupo"
}

.div_body
{
	width:100%;  
	height: auto;
	
    margin:0px 0px 0px 0px;
}

.div_top
{
	width: 100%;
	height: 200px;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
	
	background-image: url(images/header.png);
}

.div_middle
{
	margin:20px 0px 20px 0px;
	
	width: 100%;
	height: auto;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto; 
	
	background-image: url(images/body.png);
}

.div_bottom
{
	width: 100%;
	height: 230px;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
	
	background-image: url(images/footer.png);
}

.div_left
{
	width: 200px;
	height: 100%;
	
	position: absolute;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
}

.div_right
{
	width: 200px;
	height: 100%;
	
	position: absolute;
	top:0px;
	left: auto;
	right: 0px;
	bottom: auto;
}

.div_content
{
	margin:0px 220px 0px 220px;
	
	height: 100%;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
}

.div_news
{
	margin:20px 0px 0px 0px;
	
	width: 70%;
	
	position: relative;
	top:0px;
	left: 15%;
	right: auto;
	bottom: auto;
}

.div_new_1
{
	margin:20px 0px 0px 0px;
	
	width: 100%;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
	
	background-color: #ffffff;
}

.div_new_2
{
	margin:20px 0px 0px 0px;
	
	width: 100%;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
	
	background-color: #b0c6f9;
}

.div_links
{
	width: 400px;
	height: 100px;
	
	position: relative;
	top:50px;
	left: 800px;
	right: auto;
	bottom: auto; 
}