body
{
	font-size: 25px;
	color: #000000;
	font-family: "Microsoft Yahei", "STHupo", "HYZhuZiTongNianTiW Regular", 
}

th
{
	font-size: 15px;
	color: #000000;
	font-family: "Microsoft Yahei", "STHupo", "HYZhuZiTongNianTiW Regular", 
}

.div_body
{
	width:100%;  
	height: auto;
	
    margin:0px 0px 0px 0px;
}

.div_top
{
	width: 100%;
	height: 200px;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
	
	background-image: url(images/header.png);
}

.div_middle
{
	margin:20px 0px 20px 0px;
	
	width: 100%;
	height: 2000px;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto; 
	
	background-image: url(images/body.png);
}

.div_bottom
{
	width: 100%;
	height: 230px;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
	
	background-image: url(images/footer.png);
}	
	
.div_left
{
	width: 100px;
	height: 100%;
	
	position: absolute;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
}

.div_right
{
	width: 100px;
	height: 100%;
	
	position: absolute;
	top:0px;
	left: auto;
	right: 0px;
	bottom: auto;
}

.div_content
{
	margin:0px 120px 0px 120px;
	
	height: 100%;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
}	

.div_edit
{
	width: 400px;
	height: 100%;
	
	position: absolute;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
}

.div_text
{
	margin:0px 0px 0px 420px;
	
	height: 100%;
	
	position: relative;
	top:0px;
	left: 0px;
	right: auto;
	bottom: auto;
}	